ShowBoneESP 1
TriggerDelay 90
ShowBoxESP 1
TriggerHotKey 0
RCSBullet 1
ShowHealthBar 0
AimFov 5
FovLineSize 60
AimBotHotKey 3
ShowLineToEnemy 0
RCSScale.x 1
RCSScale.y 1
ShowWeaponESP 0
ShowDistance 0
Smooth 1
ShowFovLine 0
ShowEyeRay 0
ShowPlayerName 0
AimBot 1
AimPosition 0
AimPositionIndex 6
HealthBarType 0
BoneColor 1 1 1 1
FovLineColor 0.215686 0.215686 0.215686 0.862745
LineToEnemyColor 1 1 1 0.862745
BoxColor 1 1 1 1
EyeRayColor 1 0 0 1
RadarCrossLineColor 0.862745 0.862745 0.862745 1
HeadShootLineColor 1 1 1 1
ShowMenu 1
ShowRadar 0
RadarRange 150
RadarPointSizeProportion 1
ShowCrossLine 1
RadarType 2
Proportion 2230
BoxType 0
TriggerBot 0
TeamCheck 1
VisibleCheck 0
ShowHeadShootLine 0
ShowCrossHair 0
CrossHairColor 0.176471 0.176471 0.176471 1
CrossHairSize 150
ShowAimFovRange 1
AimFovRangeColor 0.901961 0.901961 0.901961 1
OBSBypass 0BunnyHop 1ShowWhenSpec 0